In [ ]:
fruits = ['apple', 'orange', 'banana']
for fruit in fruits :
    print(fruit)

apple
orange
banana

In [ ]:
s = "Hello"
for i in s :
    print(i)

H
e
l
l
o

In [ ]:
colors = ['빨간색', '파란색', '노란색', '초록색']
for color in colors :
    print("나는 %s을 좋아한다" %(color))

나는 빨간색을 좋아한다
나는 파란색을 좋아한다
나는 노란색을 좋아한다
나는 초록색을 좋아한다

In [ ]:
numbers = [7, 9, 15, 18, 30, -3, 7, 12, -16, -12]
sum = 0
for number in numbers :
    sum = sum + number
print("합계 :", sum)

합계 : 67

In [ ]:
score = [1, 3, 5, 7, 9, 11, 13]
cnt = 0
for num in score :
    if num < 10 :
        cnt+=1
        print(num, end = ' ')
print('\n10보다 작은 수의 개수 :', cnt)

1 3 5 7 9
10보다 작은 수의 개수 : 5

In [ ]:
questions = ['tr_in', 'b_s', '_axi', 'air_lane']
answer = ['a', 'u', 't', 'p']
count = 0
for i in range(4) :
    q = '%s 에서 밑줄(_) 안에 들어갈 알파벳은? ' %(questions[i])
    ans = input(q)
    if ans == answer[i] :
        print('정답입니다!')
        count +=1
    else :
        print('틀렸습니다!')
print("당신의 점수는 %d/4 입니다." %(count))

tr_in 에서 밑줄(_) 안에 들어갈 알파벳은? a
정답입니다!
b_s 에서 밑줄(_) 안에 들어갈 알파벳은? i
틀렸습니다!
_axi 에서 밑줄(_) 안에 들어갈 알파벳은? t
정답입니다!
air_lane 에서 밑줄(_) 안에 들어갈 알파벳은? p
정답입니다!
당신의 점수는 3/4 입니다.

In [ ]:
score = []
for i in range(5) :
    score.append(int(input('성적입력: ')))
sum = 0
for s in score :
    sum += s
print(score)
print('총점은 %d이고 평균은 %.1f입니다.' %(sum, (sum/5.0)))

성적입력: 59
성적입력: 66
성적입력: 76
성적입력: 82
성적입력: 79
[59, 66, 76, 82, 79]
총점은 362이고 평균은 72.4입니다.

In [ ]:
numbers = [7, 9, 15, 18, 30, -3, 7, 12, -16, -12]

sum = 0
i = 0
print("짝수 번째 요소 : ", end = '')

while i < len(numbers) :
    if i % 2 != 0 :
        print(numbers[i], end = ' ')
        sum += numbers[i]
    i+=1
print('\n합계 : ', sum)

짝수 번째 요소 : 9 18 -3 12 -12
합계 :  24

In [ ]:
s = [64, 89, 100, 85, 77, 58, 79, 67, 96, 87, 87, 36, 82, 98, 84, 76, 63, 69, 53, 22]

soo = 0
woo = 0
mi = 0
yang = 0
ga = 0

i = 0
while i < len(s) :
    if s[i] >= 90 :
        soo +=1
    elif s[i] >= 80 :
        woo +=1
    elif s[i] >= 70 :
        mi +=1
    elif s[i] >= 60 :
        yang +=1
    else :
        ga +=1
    i+=1
print("수 : %d명" %(soo))
print("우 : %d명" %(woo))
print("미 : %d명" %(mi))
print("양 : %d명" %(yang))
print("가 : %d명" %(ga))

수 : 3명
우 : 6명
미 : 3명
양 : 4명
가 : 4명

In [ ]:
[2 * n for n in range(1, 11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

[ 수식 for 변수 in 리스트 if 조건 ]

In [ ]:
even1 = [even1 for even1 in range(1, 101) if even1%2 == 0]
even2 = [2 * even2 for even2 in range(1, 51)]
print(even1)
print(even2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# ex48)
li = []
for n in range(1, 10) :
    if n%3 == 0 :
        li.append(n*n)
print(li)

[9, 36, 81]

In [ ]:
# ex49)
numbers = [1,2,3,4,5]
result = [2 * n for n in numbers if n % 2 == 1]
print(result)

[2, 6, 10]

In [ ]:
# ex1)
v = [17, 92, 18, 33, 58, 7, 33, 42]

max = v[0]
for i in v :
    if max < i :
        max = i
print("최대값 = ", max)

최대값 =  92

In [ ]:
# ex2)
for i in [1, 2, 3] :
    for j in ['a', 'b', 'c'] :
        print(j * i, end = ' ')

a b c aa bb cc aaa bbb ccc

In [ ]:
# ex3)
list_a = ["I", "study", "python", "language", "!"]

for i in range(len(list_a)) :
    if len(list_a[i]) >= 3 :
        print(list_a[i])

study
python
language

In [ ]:
numbers = [[10, 20, 30], [40, 50, 60]]

print(numbers[0])
print(numbers[1])

print(*numbers[0])
print(*numbers[1])

[10, 20, 30]
[40, 50, 60]
10 20 30
40 50 60

In [ ]:
numbers = [[10, 20, 30], [40, 50, 60, 70, 80]]
print(*numbers[0])
print(*numbers[1])

10 20 30
40 50 60 70 80

In [ ]:
for sub in numbers :
    for number in sub :
        print(number, end =' ')
    print()

10 20 30
40 50 60 70 80

In [ ]:
data = [[10, 20], [30, 40], [50, 60], [70, 80]]

for i in range(4) :
    for j in range(2) :
        print("data[%d][%d] = %d" %(i, j, data[i][j]))

data[0][0] = 10
data[0][1] = 20
data[1][0] = 30
data[1][1] = 40
data[2][0] = 50
data[2][1] = 60
data[3][0] = 70
data[3][1] = 80

In [ ]:
strings = [["원두커피", "라떼", '콜라'], ["우동", "국수", "피자", "파스타"]]

for i in strings :
    for j in i :
        print(j, end =' ')
    print()

원두커피 라떼 콜라
우동 국수 피자 파스타

In [ ]:
data = [[10, 20, 30], [40, 50], [60, 70, 80, 90]]
print(data)

for i in data :
    for j in range(len(i)) :
        if j == 0 :
            print(i[j])

[[10, 20, 30], [40, 50], [60, 70, 80, 90]]
10
40
60

In [ ]:
# ex42)
score = [[88, 76, 92, 98], [65, 70, 58, 82], [82, 80, 78, 88]]
total = 0
totalsub = 0

for i in score :
    total = 0
    avg = 0
    for j in i :
        total += j
        totalsub += j
    print('총점 %d 평균 %.2f' %(total, (total/4)))
print(totalsub/12.0)

총점 354 평균 88.50
총점 275 평균 68.75
총점 328 평균 82.00
79.75

In [ ]:
# ex43)
seats = [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [1, 1, 1, 0, 0, 0, 0, 0, 1, 0], [0, 0, 0, 0, 0, 1, 0, 0, 0, 0], [0, 1, 0, 0, 0, 1, 0, 1, 0, 0], [0, 0, 0, 0, 0, 0, 1, 0, 0, 0], [1, 0, 1, 0, 0, 0, 0, 0, 0, 1]]

for i in range(8) :
    for j in range(10) :
        if seats[i][j] == 0 :
            print('%3s' %('□'), end = '')
        else :
            print('%3s' %('■'), end = '')
    print()
print('\n※ 예약 가능 : ■, 예약 불가 : □')

  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  ■  ■  ■  □  □  □  □  □  ■  □
  □  □  □  □  □  ■  □  □  □  □
  □  ■  □  □  □  ■  □  ■  □  □
  □  □  □  □  □  □  ■  □  □  □
  ■  □  ■  □  □  □  □  □  □  ■

※ 예약 가능 : ■, 예약 불가 : □

In [ ]:
# ex44)
scores = [[96, 84, 80], [96, 86, 76], [76, 95, 83], [89, 96, 69], [83, 86, 79], [85, 90, 83]]

i = 0
sum = 0
while i < len(scores) :
    j = 0
    sum = 0
    while j < 3 :
        sum += scores
    print('%d번째 학생의 합계 : %d, 평균 : %.2f' %((i+1), sum, sum/3))

TypeError: ignored