<a href="https://colab.research.google.com/github/khybin/Python_class/blob/master/%EA%B9%80%ED%98%84%EB%B9%88_205_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
score = [88, 95, 70, 100, 99]
print(score[0], end = ' ')
print(score[1], end = ' ')
print(score[2], end = ' ')
print(score[3], end = ' ')
print()
print(score[-1], end = ' ')
print(score[-2], end = ' ')
print(score[-3], end = ' ')
print(score[-4], end = ' ')

88 95 70 100
99 100 70 95

In [ ]:
score = [88, 95, 70, 100, 99]
score[0] = 10
score[1] = 20
score[2] = 30

score[-2] = 40
score[-1] = 50
print(score)

[10, 20, 30, 40, 50]

In [ ]:
animals = ['토끼', '거북이', '사자', '호랑이']

i = 0
while i < len(animals) :
    print(animals[i])
    i += 1

토끼
거북이
사자
호랑이

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9]    # [ 시작 : 끝 : 간격]
print(nums[2:5:1])  # nums[2] ~ nums[4] +1씩
print(nums[1:7:2])  # nums[1] ~ nums[6] +2씩 -> nums[1], nums[3], nums[5]
print(nums[0:5:2])

[2, 3, 4]
[1, 3, 5]
[0, 2, 4]

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[:5:1])   # 시작 값이 없다면 맨 앞에서부터 슬라이싱한다.
print(nums[:7:2])  
print(nums[:5:2])

[0, 1, 2, 3, 4]
[0, 2, 4, 6]
[0, 2, 4]

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[2::1])   # 끝 값이 없다면 맨 끝까지 슬라이싱한다.
print(nums[1::2])  
print(nums[0::2])

[2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[2:5])   # 간격 값이 없다면 1개 간격씩 슬라이싱한다.
print(nums[1:7])  
print(nums[0:5])

[2, 3, 4]
[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4]

In [ ]:
fruits = ['사과', '오렌지', '딸기', '포도', '감', '키위', '멜론', '수박']
print(fruits)
print(fruits[0])
print(fruits[1:4])
print(fruits[2:])
print(fruits[-1])
print(fruits[-4:-2])
print(fruits[-3:])

['사과', '오렌지', '딸기', '포도', '감', '키위', '멜론', '수박']
사과
['오렌지', '딸기', '포도']
['딸기', '포도', '감', '키위', '멜론', '수박']
수박
['감', '키위']
['키위', '멜론', '수박']

In [ ]:
my_list = list("PythonIsFun!")
print(my_list)
print(my_list[5:11])
print(my_list[-5:-2])
print(my_list[:4])
print(my_list[8:])

['P', 'y', 't', 'h', 'o', 'n', 'I', 's', 'F', 'u', 'n', '!']
['n', 'I', 's', 'F', 'u', 'n']
['s', 'F', 'u']
['P', 'y', 't', 'h']
['F', 'u', 'n', '!']

In [ ]:
s = "python"
print(s[2])
print(s[-2])
print(s[1:4])

t
o
yth

In [ ]:
file = "20210505-104830.jpg"
print("촬영 날짜: " + file[4:6:] + "월" + file[6:8:] + "일")
print("촬영 시간 " + file[-10:-8:] + "시" + file[-8:-6:] + "분")
print("확장자:" + file[-3:])

촬영 날짜: 05월05일
촬영 시간 10시48분
확장자:jpg

In [ ]:
s = "차종: 코란토C, 제조사:쌍용, 배기량: 1998"
print(s[-13:-11:])

쌍용

In [ ]:
jumin = "901231-1914983"
year = jumin[0:2:]
if int(jumin[7]) % 2 == 0 :
    gender = "여자"
else :
    gender = "남자"
print("{}년생 {}입니다.".format(year, gender))

90년생 남자입니다.

In [ ]:
# 요소 추가
nums = [1,2,3,4]
nums.append(5)
print(nums)

# 요소 삽입
nums.insert(2,99)
print(nums)

[1, 2, 3, 4, 5]
[1, 2, 99, 3, 4, 5]

In [ ]:
list1 = [1,2,3,4,5]
list2 = [10, 11]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 10, 11]

In [ ]:
score = [88, 95, 70, 100, 99]
print("100의 위치: ", score.index(100) + 1)

print(score.pop())
print(score.pop())
print(score.pop(1))
print(score)

100의 위치:  4
99
100
95
[88, 70]

In [ ]:
score = [88, 95, 70, 100, 99]

score.remove(99)
print("99삭제 후 :", score)
score.sort()
print("리스트 정렬 후:", score)
score.sort(reverse=True)
print("거꾸로 정렬:", score)
print("리스트 삭제:", score)

99삭제 후 : [88, 95, 70, 100]
리스트 정렬 후: [70, 88, 95, 100]
거꾸로 정렬: [100, 95, 88, 70]
리스트 삭제: [100, 95, 88, 70]

In [ ]:
list1 = ['a', 'bb', 'c', 'd', 'aaa', 'c', 'ddd', 'aaa', 'b', 'cc', 'd', 'aaa',]
length = list1.count('aaa')

print(length)

3

In [ ]:
mylist = ['사과', '바나나', '파인애플']
mylist.append('키위')
mylist.append('배')

for a in mylist :
    print(a)

사과
바나나
파인애플
키위
배

In [ ]:
scores = []

while True :
    score = int(input("성적을 입력하세요(종료 : -1):"))
    if(score) == -1 :
        break
    else :
        scores.append(score)
print(scores)

성적을 입력하세요(종료 : -1):88
성적을 입력하세요(종료 : -1):75
성적을 입력하세요(종료 : -1):36
성적을 입력하세요(종료 : -1):-1
[88, 75, 36]

In [ ]:
num = []
for i in range(5):
    num.append(int(input("숫자입력하시오: ")))

num.sort()
print(num)

숫자입력하시오: 5
숫자입력하시오: 22
숫자입력하시오: -5
숫자입력하시오: 202
숫자입력하시오: 25
[-5, 5, 22, 25, 202]

In [ ]:
emails = [["kim", "naver.com"], ["hwang", "hanmai.net"], ["lee", "korea.com"], ["choi", "gmail.com"]]

email_new = []
for email in emails : # email = ["hwang", "hanmai.net"]
    email_new.append(email[0] + "@" + email[1])

print(email_new)

['kim@naver.com', 'hwang@hanmai.net', 'lee@korea.com', 'choi@gmail.com']

In [ ]:
s = "Hello"
for i in s :
    print(i, end ='')

Hello

In [ ]:
colors = ['빨간색', '파란색', '노란색', '초록색']

for color in colors :
    print("나는 %s을 좋아한다" %(color))

나는 빨간색을 좋아한다
나는 파란색을 좋아한다
나는 노란색을 좋아한다
나는 초록색을 좋아한다

In [ ]:
numbers = [7, 9, 15, 18, 30, -3, 7, 12, -16, -12]
sum