In [ ]:
# range(시작값, 끝값, 증감값) 순서 : 시작값 -> 시작값+증감값 -> 시작값+증감값+증감값 < 끝값
# (시작값, 끝값) : 증감값 = +1
# (끝값) : 시작값 : 0. 증감값 = +1 # 0, 1, 2 ... 끝값-1 # 끝값 만큼 반복
for dan in range(2, 10) : # i = 2,3, ... 9
    print(dan, "단")
    for hang in range(1, 10) : # hang = 2,3, ... 9
        print(dan, '*', hang, '=', dan * hang)
    print()

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
dan = 2
hang = 1
while dan  < 10 :
    hang = 1
    print(dan, '단')
    while hang < 10 :
        print(dan, '*', hang, '=', dan*hang)
        hang += 1
    dan += 1
    print()

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
for i in range(1, 6) :
    for j in range(i) :
        print("*", end = '')
    print()

*
**
***
****
*****

In [ ]:
k = 7
for i in range(1, 8) :
    for j in range(1, 8) :
        if i == j or j == k :
            print('*', end = '')
        else :
            print(' ', end = '')
    k -= 1
    print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [ ]:
for i in range(5) :
    for j in range(4-i) :
        print(' ', end = '')
    for j in range(i+1) :
        print('*', end = '')
    print()

    *
   **
  ***
 ****
*****

In [ ]:
n = int(input('수 입력 : '))
count = 0
for i in range(2, n+1) : # 2부터 입력한 수 n까지 소수인지 아닌지 검사
    prime = True # i가 소수임을 전제로 시작
    for j in range(2, i) : # 현재 수(i)가 소수인지 검사 (2부터 (나 자신 - 1) 로 다 나누어봤을 때 나누어 떨어지는게 없다/있다.)
        if i % j == 0 : # 현재 수(i)가 j로 나누어 떨어짐
            prime = False # 소수가 아님
            break
    if prime : # 소수만 출력
        print('%5d' %i, end = '')
        count += 1
        if count % 5 == 0 :
            print()

수 입력 : 50
    2    3    5    7   11
   13   17   19   23   29
   31   37   41   43   47

In [ ]:
color = ['red', 'blue', 'green']

In [ ]:
price = [500, 5000, 8900, 1800, 2500]
fruit = ['사과', '파인애플', '수박']

print(price, end = ' ')
print(type(price))

print(fruit, end = ' ')
print(type(fruit))

[500, 5000, 8900, 1800, 2500] <class 'list'>
['사과', '파인애플', '수박'] <class 'list'>

In [ ]:
fruitprice = ['사과', 1500, '수박', 8900]
print(fruitprice)
print(type(fruitprice[0]), end = ' ')
print(type(fruitprice[1]), end = ' ')
print(type(fruitprice[2]), end = ' ')
print(type(fruitprice[3]), end = ' ')

['사과', 1500, '수박', 8900]
<class 'str'> <class 'int'> <class 'str'> <class 'int'>

In [ ]:
a = []
b = list()
print(type(a), end = ' ')
print(type(b))

<class 'list'> <class 'list'>

In [ ]:
num = list(range(1,21,2))
print(num)
print(type(num))

a = list("Korea")
print(a)
print(type(a))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
<class 'list'>
['K', 'o', 'r', 'e', 'a']
<class 'list'>

In [ ]:
print(len(num))
print(len(a))

10
5