In [ ]:
print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5**2)
print(5//2)
print(5%2)

7
3
10
2.5
25
2
1

In [ ]:
x = 10 % 3
print(x)
y = 7//3
print(y)

1
2

In [ ]:
a = 10
b = 20
c =  a + b * 10 - 5 / 5
print(c)

209.0

In [ ]:
x = 2**3
print(x)

y = 10**4
print(y)

8
10000

In [ ]:
hello = '안녕' * 5
print(hello)

안녕안녕안녕안녕안녕

In [ ]:
s1 = "대한민국"
s2 = "만세"
print(s1+s2)
print(s1*5)

대한민국만세
대한민국대한민국대한민국대한민국대한민국

In [ ]:
print("korea" + str(2021))
print(10+int(22))
print(10 + int(22.5))
print(10 + int(float(22.5)))
# print("korea"+2021)

korea2021
32
32
32

In [ ]:
x = 10
x += 20 # x = x + 20 와 동일
print(x)

30

In [ ]:
a = 5
a = a + 1
print(a)

a = 5
a += 1
print(a)

a -= 5
print(a)

a *= 2
print(a)

6
6
1
2

In [ ]:
x = 3
y = 5
x *= x + y  # x = x * (x + y)와 동일
print(x)

24

In [ ]:
money = int(input("투입한 돈: "))
price = int(input("물건 값: "))
change = money - price
print('거스름돈:', change)
print('500원 동전의 개수:', change//500)
print('100원 동전의 개수:', change%500 // 100)

투입한 돈: 2500
물건 값: 300
거스름돈: 2200
500원 동전의 개수: 4
100원 동전의 개수: 2

In [ ]:
if 3 < 5 :
    print("Hello World")

Hello World

In [ ]:
if 3 > 5 :
    print("Hello World")

In [ ]:
age = int(input('몇살입니까?'))
if age < 20 :
    print("학생입니다.")

몇살입니까?18
학생입니다.

In [ ]:
age = 15
if age < 20 :
    print("학생입니다.")
    print("안녕히가세요.")

학생입니다.
안녕히가세요.

In [ ]:
age = 20
if age < 20 :
    print("학생입니다.")
    print("안녕히가세요.")

In [ ]:
print(3 == 5)
print(3 != 5)
print(3 < 5)

False
True
True

In [ ]:
x = 4
print(1<x<5)

True

In [ ]:
# print(3 => 5)

In [ ]:
country = "Korea"
if country == "Korea":
    print("한국")

한국

In [ ]:
age = int(input('몇살입니까?'))
if age < 20:
    print("학생입니다.")
else:
    print("성인입니다.")

몇살입니까?20
성인입니다.

In [ ]:
password = input("암호입력")    #암호를 입력
if password == "암호":
    print("암호이다.")
else:
    print("암호가 아니다.")

암호입력암호
암호이다.

In [ ]:
num1 = int(input('첫 번째 숫자를 입력하세요:'))
num2 = int(input('두 번째 숫자를 입력하세요:'))

if num1 > num2:
    print(num1 - num2)
else:
    print(num2 - num1)

첫 번째 숫자를 입력하세요:9
두 번째 숫자를 입력하세요:3
6

In [ ]:
work = int(input('1(주간근무) 또는 2(야간근무)을 입력하세요 : '))
time = int(input('근무 시간을 입력해주세요 : '))

if work == 1:
    print(time, '시간 동안 일한 주간 급여는 ', time*9500, '원 입니다.', sep='')
else:
    print(time, '시간 동안 일한 주간 급여는 ', int(time*9500*1.5), '원 입니다.', sep='')

1(주간근무) 또는 2(야간근무)을 입력하세요 : 2
근무 시간을 입력해주세요 : 55
55시간 동안 일한 주간 급여는 783750원 입니다.

In [ ]:
name = input('이름을 입력하세요: ')
time = int(input('일주일간 일한 시간을 입력하세요: '))
if time > 40:
    print('초과시간:', time - 40)
    print(name, ' 님의 주급은 ', 40*12000 + int((time - 40)*12000*1.5), '입니다.', sep = '')
else:
    print(name, ' 님의 주급은 ', time*12000, '입니다.', sep = '')

이름을 입력하세요: 상민
일주일간 일한 시간을 입력하세요: 38
상민 님의 주급은 456000입니다.

In [ ]:
print ((3==3) and (4 != 3))
print ((3==3) or (4 != 3))
print (not (4 != 3))

True
True
False