<a href="https://colab.research.google.com/github/khybin/Python_class/blob/master/%EA%B9%80%ED%98%84%EB%B9%88_205_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
score = [ [88, 76, 92, 98],     # score[0] 총점, 평균
          [65, 70, 58, 82],     # score[1] 총점, 평균
          [82, 80, 78, 88] ]    # score[2] 총점, 평균
        # 총점(total), 평균
total = 0   # 모든 학생의 점수 합
totalsub = 0    # 모든 학생 과목 수
# (1) 리스트를 컬렉션으로 이용
for student in score :  # 반복맏 현민, 승혜, 이준의 점수를 student로 읽어옴
    sum = 0
    for subject in student :  
        sum += subject  # (((0+국어점수)+수학점수)+정보점수)+과학점수
    number = len(student)   # 한 학생의 과목 수
    print('총점:', sum, '평균:', sum/number)
    total += sum    # ((0+현민총점)+승혜총점)+이준총점
    totalsub += number
print('전체평균:', total/totalsub)

총점: 354 평균: 88.5
총점: 275 평균: 68.75
총점: 328 평균: 82.0
전체평균: 79.75

In [3]:
score = [ [88, 76, 92, 98],     # score[0] 총점, 평균
          [65, 70, 58, 82],     # score[1] 총점, 평균
          [82, 80, 78, 88] ]    # score[2] 총점, 평균
        # 총점(total), 평균
total = 0   # 모든 학생의 점수 합
totalsub = 0    # 모든 학생 과목 수
# (2) 인덱스를 이용 [i][j]
for student in range(len(score)) :  # student = 0, 1, 2 --- [0][1][2]
    sum = 0
    # score[student]의 총점, 평균
    # score[0][0]~score[0][3], score[1][0]~score[1][3], score[2][0]~score[2][3]...
    for subject in range(len(score[student])) :  
        sum += score[student][subject]  # (((0+국어점수)+수학점수)+정보점수)+과학점수
    number = len(score[student])   # 한 학생의 과목 수
    print('총점:', sum, '평균:', sum/number)
    total += sum    # ((0+현민총점)+승혜총점)+이준총점
    totalsub += number
print('전체평균:', total/totalsub)

총점: 354 평균: 88.5
총점: 275 평균: 68.75
총점: 328 평균: 82.0
전체평균: 79.75

In [6]:
# ex1)
s = "python"
print(s[0])
print(s[-1])

p
n

In [18]:
# ex2)
s = "python"
# print(s[10])

print('\033[31m' + '---------------------------------------------------------------------------' + '\033[0m')
print('\033[31m' + 'IndexError' + '\033[0m' + '                                ' + 'Traceback (most recent call last)')
print('\033[4m' + '\033[96m' + '<ipython-input-7-05f39d9ba481>' + '\033[0m' + '\033[0m' + ' in ' + '\033[36m' + '<cell line: 3>()' + '\033[0m')
print('      ' + '1' + '# ex2)')
print('      2 s = "python"')
print('----> 3 print(s[10])')
print()
print('IndexError: string index out of range')

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-7-05f39d9ba481> in <cell line: 3>()
      1 # ex2)
      2 s = "python"
----> 3 print(s[10])

IndexError: string index out of range

In [20]:
# ex3)
S1 = input('첫번째 문자열:')
S2 = input('두번째 문자열:')
S3 = input('세번째 문자열:')

if S1[-1] == S2[0] and S2[-1] == S3[0] and S3[-1] == S1[0] :
    print('good')
else :
    print('bad')

첫번째 문자열:apple
두번째 문자열:radio
세번째 문자열:life
bad

In [21]:
# ex4)
s = "python"
for c in s :
    print(c, end = ',')

print()

p,y,t,h,o,n,

In [24]:
# ex5)
number = input('하이픈(-)을 포함한 휴대폰 번호를 인력하세요: ')

for hyphen in number :
    if hyphen != '-' :
        print(hyphen, end = '')

하이픈(-)을 포함한 휴대폰 번호를 인력하세요: 010-9050-1177
01090501177

In [26]:
# ex6)
s = "python"
print(len(s))
n = "여섯글자이다"
print(len(n))

6
6

In [30]:
# ex7)
sentence = input("문자열 입력:")

for execute in range(len(sentence)) :
    if sentence[execute] == 't' :
        print(execute + 1, end = ' ')

문자열 입력:test
1 4

In [55]:
# ex8)
sentence = input('문장을 입력해 주세요 : ')

i = 0
while i < len(sentence) :
    if sentence[i] == ' ' :
        print('-', end = '')
    else :
        print(sentence[(i+1)*-1], end = '')
    i+=1

문장을 입력해 주세요 : Enjoy your life!
!efil-ruoy-yojnE

In [87]:
# ex8_1)
sentence = input('문장을 입력해 주세요: ')
i = len(sentence)-1 # 끝에서 시작
while i >= 0 :
    if sentence[i] == ' ' :
        print('-', end = '')
    else :
        print(sentence[i], end = '')
    i-=1

문장을 입력해 주세요: Enjoy your life!
!efil-ruoy-yojnE

In [57]:
# ex9)
data = input("문자열 입력: ")

for i in range(len(data) - 1) :
    print(data[i], data[i+1], sep ='')

문자열 입력: Python
Py
yt
th
ho
on

In [66]:
# ex10)
print(s[2:5])
print(s[3:])
print(s[:4])
print(s[2:4])
print(s[-2:])

tho
hon
pyth
th
on

In [67]:
# ex11)
s = "차종: 코란토C, 제조사:쌍용, 배기량: 1998"
print(s[-13:-11:])

쌍용

In [68]:
# ex12)
file = "20210505-104830.jpg"
print("촬영 날짜: " + file[4:6:] + "월" + file[6:8:] + "일")
print("촬영 시간 " + file[-10:-8:] + "시" + file[-8:-6:] + "분")
print("확장자:" + file[-3:])

촬영 날짜: 05월05일
촬영 시간 10시48분
확장자:jpg

In [93]:
# ex13)
yoil = "월화수목금토일"
print(yoil[::2])
print(yoil[::-1])

월수금일
일토금목수화월

In [73]:
# ex14)
jumin = "901231-1914983"
year = jumin[0:2:]
if int(jumin[7]) % 2 == 0 :
    gender = "여자"
else :
    gender = "남자"
print("{}년생 {}입니다.".format(year, gender))

90년생 남자입니다.

In [78]:
# ex15)
a = "10 20 30 40 50"
print(a.split())
b = "나는 서울로봇고 2학년이야."
print(b.split())

['10', '20', '30', '40', '50']
['나는', '서울로봇고', '2학년이야.']

In [83]:
# ex16)
a = "a:b:c:d"
print(a.split(':'))

['a', 'b', 'c', 'd']

In [92]:
# ex17)
BTS = "정국, 진, 뷔, 슈가, 지민, RM, 제이홉"
BTS_member = BTS.split(', ')
print("방탄  멤버:", BTS_member)

for member in BTS_member :
    print(member, '사랑해')

방탄  멤버: ['정국', '진', '뷔', '슈가', '지민', 'RM', '제이홉']
정국 사랑해
진 사랑해
뷔 사랑해
슈가 사랑해
지민 사랑해
RM 사랑해
제이홉 사랑해

In [100]:
# ex18) 
file_names = ["file1.py", "file2.txt", "file3.pptx", "file4.doc"]

for file_name in file_names :
    arr = file_name.split(".")
    print(file_name, '\t', '파일명:', arr[0], ', ', '확장자:', arr[1] , sep = '')

file1.py	파일명:file1, 확장자:py
file2.txt	파일명:file2, 확장자:txt
file3.pptx	파일명:file3, 확장자:pptx
file4.doc	파일명:file4, 확장자:doc