<a href="https://colab.research.google.com/github/khybin/Python_class/blob/master/%EA%B9%80%ED%98%84%EB%B9%88_205_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input("a입력:"))
b = int(input("b입력:"))
if a == 3 and b == 4 :
    print("OK")
if a == 3 or b == 4 :
    print("Okay")

a입력:2
b입력:4
Okay

In [ ]:
x = int(input("숫자입력:"))     # 18을 입력
if x > 10 and x % 2 == 0 :
    print("10 초과 짝수")

숫자입력:18
10 초과 짝수

In [ ]:
a = int(input("필기 성적을 입력하세요: "))
if a >= 80 :
    print("합격")
else :
    print("불합격")

필기 성적을 입력하세요: 50
불합격

In [ ]:
age = int(input("몇 살이세요?: "))
if age >= 0 and age < 7 or age >= 65 :
    print("입장료는 무료입니다.")
else :
    print("입장료는 3000원 입니다.")

몇 살이세요?: 77
입장료는 무료입니다.

In [ ]:
age = int(input("나이 : "))
height = int(input("키 : "))
if age >= 10 and height >= 150 :
    print("놀이기구를 탈 수 있다")
else :
    print("놀이기구를 탈 수 없다")

나이 : 10
키 : 133
놀이기구를 탈 수 없다

In [ ]:
id = input("아이디를 입력하세요: ")
lv = int(input("회원 레벨을 입력하세요: "))
if id == "admin" or lv == 1 :
    print("관리자입니다.")
else :
    print("관리자가 아닙니다.")

아이디를 입력하세요: happy
회원 레벨을 입력하세요: 1
관리자입니다.

In [ ]:
num = int(input("정수를 입력하세요: "))
if num >= 1 and num <= 100 :
    print(num , "은(는) 1~100사이에 있다", sep = '')
else :
    print(num , "은(는) 1~100사이에 없다", sep = '')

정수를 입력하세요: 77
77은(는) 1~100사이에 있다

In [ ]:
month = 3

if 3 <= month <= 5 :
    print("현재는 봄입니다.")
elif 6 <= month <= 8 :
    print("현재는 여름입니다.")
elif 9 <= month <= 11 :
    print("현재는 가을입니다.")
else :
    print("현재는 겨울입니다.")

현재는 봄입니다.

In [ ]:
money = int(input("구매금액: "))
if money >= 20000 :
    if money >= 50000 :
        print("무료배송입니다.")
    else :
        print("배송비 2500원이 추가됩니다.")
else :
    print("새벽배송이 불가능합니다.")

구매금액: 51000
무료배송입니다.

In [ ]:
num = int(input("점수를 입력하세요: "))
if num >= 90 :
    grade = 'A'
elif 90 > num >= 80 :
    grade = 'B'
elif 80 > num >= 70 :
    grade = 'C'
else :
    grade = 'F'
print(grade, "등급입니다.")

점수를 입력하세요: 100
A 등급입니다.

In [ ]:
num1 = int(input("첫 번째 수: "))
num2 = int(input("두 번째 수: "))
num3 = int(input("세 번째 수: "))
if num1 >= num2 and num1 >= num3 :
    max = num1
elif num1 >= num2 and num1 <= num3 :
    max = num3
elif num1 <= num2 and num2 >= num3 :
    max = num2
elif num1 <= num2 and num2 <= num3 :
    max = num3
print("가장 큰 수는", max, "입니다.")

첫 번째 수: 20
두 번째 수: 20
세 번째 수: 50
가장 큰 수는 50 입니다.

In [ ]:
temp = int(input("온도를 입력하세요: "))
if temp < 0 :
    print("물의 상태는 고체입니다.")
elif 0 <= temp < 100 :
    print("물의 상태는 액체입니다.")
else :
    print("물의 상태는 기체입니다.")

온도를 입력하세요: -312
물의 상태는 고체입니다.

In [ ]:
eng = int(input("영어시험 점수를 입력하세요 : "))
math = int(input("수학시험 점수를 입력하세요 : "))
if eng >= 80 and math >= 80 :
    print("합격")
elif eng >= 80 or math >= 80 :
    print("재시험 기회제공")
else :
    print("탈락")

영어시험 점수를 입력하세요 : 20
수학시험 점수를 입력하세요 : 100
재시험 기회제공

In [ ]:
serv = int(input("서비스가 어떠셨나요(예 : 1 또는 2 또는 3) : "))
price = int(input("음식값을 입력해 주세요(예:8000) : "))

if serv == 1 :
    print("팁 : ", int(price * 0.2), "원", sep = '')
elif serv == 2 :
    print("팁 : ", int(price * 0.1), "원", sep = '')
else :
    print("팁 : ", int(price * 0.05), "원", sep = '')

서비스가 어떠셨나요(예 : 1 또는 2 또는 3) : 2
음식값을 입력해 주세요(예:8000) : 9000
팁 : 900원

In [ ]:
price = int(input("물건 구매가를 입력하세요 : "))

if 50000 > price >= 10000 :
    dis = 5
elif price >= 50000 :
    dis = 7.5
elif price >= 300000 :
    dis = 10

cnt = price * (dis/100)
tol = price - cnt

print("구매가 : ", price, "원", sep = '')
print("할인율 : ", dis, "%", sep = '')
print("할인금액 : ", int(cnt), "원", sep = '')
print("지불금액 : ", int(tol), "원", sep = '')

물건 구매가를 입력하세요 : 60000
구매가 : 60000원
할인율 : 7.5%
할인금액 : 4500원
지불금액 : 55500원

In [ ]:
print("원하는 메뉴를 선택하세요.")
print("1. 떡볶이 3000원")
print("2. 김밥 2500원")
print("3. 튀김 3500원")
menu = int(input("번호선택 : "))

if menu == 1 :
    print("당신은 떡볶이를 선택하셨군요!")
    num = int(input("떡볶이를 몇 인분 주문하시겠습니까? "))
    print("총 가격은 ", 3000 * num, "원 입니다.", sep = '')
elif menu == 2 :
    print("당신은 김밥을 선택하셨군요!")
    num = int(input("김밥을 몇 인분 주문하시겠습니까? "))
    print("총 가격은 ", 2500 * num, "원 입니다.", sep = '')
elif menu == 3 :
    print("당신은 튀김을 선택하셨군요!")
    num = int(input("튀김을 몇 인분 주문하시겠습니까? "))
    print("총 가격은 ", 3500 * num, "원 입니다.", sep = '')
else :
    print("1, 2, 3 중 하나를 선택해주세요")

원하는 메뉴를 선택하세요.
1. 떡볶이 3000원
2. 김밥 2500원
3. 튀김 3500원
번호선택 : 1
당신은 떡볶이를 선택하셨군요!
떡볶이를 몇 인분 주문하시겠습니까? 3
총 가격은 9000원 입니다.

In [ ]:
weight = int(input("체중을 입력하세요: "))
high = float(input("키를 입력하세요(m): "))
bmi = weight / high**2

if 0 <= bmi <= 15 :
    print("당신의 bmi지수는", bmi, "이며 정상입니다.")
elif 15 <= bmi <= 25 :
    print("당신의 bmi지수는", bmi, "이며 과체중입니다.")
else :
    print("당신의 bmi지수는", bmi, "이며 비만입니다.")

체중을 입력하세요: 88
키를 입력하세요(m): 1.8
당신의 bmi지수는 27.16049383 이며 비만입니다.

In [ ]:
weight = int(input("체중을 입력하세요: "))
high = int(input("키를 입력하세요(cm): "))
age = int(input("나이를 입력하세요: "))
gender = input("성별을 입력하세요: ")

if gender == "남자" :
    print("당신의 기초대사량은", 66.47 + (13.75 * weight) + (5 * high) - (6.76 * age), "입니다.")
elif gender == "여자" :
    print("당신의 기초대사량은", 665.1 + (9.56 * weight) + (1.85 * high) - (4.68 * age), "입니다.")
else :
    print("남자 / 여자 둘 중 하나를 입력해주세요.")

체중을 입력하세요: 90
키를 입력하세요(cm): 183
나이를 입력하세요: 39
성별을 입력하세요: 남자
당신의 기초대사량은 1955.3300000000004 입니다.

In [ ]:
userid = input("아이디를 입력하세요: ")
lv = int(input("회원 레벨을 입력하세요: "))
if userid == "admin" :
    print("모든 콘텐츠 이용 가능")
elif 2 <= lv <= 7 :
    print("일부 콘텐츠 이용 가능")
else :
    print("콘텐츠 이용 불가능")

아이디를 입력하세요: admin
회원 레벨을 입력하세요: 1
모든 콘텐츠 이용 가능

In [ ]:
year1 = int(input("현재년을 입력해 주세요 : "))
month1 = int(input("현재월을 입력해 주세요 : "))
day1 = int(input("현재일을 입력해 주세요 : "))
year2 = int(input("출생년을 입력해 주세요 : "))
month2 = int(input("출생월을 입력해 주세요 : "))
day2 = int(input("출생일을 입력해 주세요 : "))

print("---------------------------------")
print("오늘 날짜 : ", year1, "년 ", month1, "월 ", day1, "일", sep = '')
print("생년 월일 : ", year2, "년 ", month2, "월 ", day2, "일", sep = '')
print("---------------------------------")

if month2 < month1 :
    print("만 나이 : ", year1 - year2, "세", sep = '')
elif month2 == month1 :
    if day2 < day1 :
        print("만 나이 : ", year1 - year2, "세", sep = '')
    else :
        print("만 나이 : ", year1 - year2 - 1, "세", sep = '')
else :
    print("만 나이 : ", year1 - year2 - 1, "세", sep = '')
print("---------------------------------")

현재년을 입력해 주세요 : 2020
현재월을 입력해 주세요 : 1
현재일을 입력해 주세요 : 27
출생년을 입력해 주세요 : 1997
출생월을 입력해 주세요 : 5
출생일을 입력해 주세요 : 7
---------------------------------
오늘 날짜 : 2020년 1월 27일
생년 월일 : 1997년 5월 7일
---------------------------------
만 나이 : 22세
---------------------------------

In [ ]:
import datetime
from pytz import timezone

now = datetime.datetime.now(timezone('Asia/Seoul'))

print(now)
print(now.year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)

2023-03-30 11:27:09.687120+09:00
2023
3
30
11
27
9

In [ ]:
import datetime
from pytz import timezone

now = datetime.datetime.now(timezone('Asia/Seoul'))

hour = now.hour
minute = now.minute

if 12 > hour >= 0 :
    time = "오전"
else :
    time = "오후"

print("현재 시간은 %d시 %d분으로 %s입니다" %(hour, minute, time))

현재 시간은 11시 25분으로 오전입니다

In [ ]:
month = int(input("몇 월입니까?: "))

if 3 <= month <= 5 :
    print("이번 달은 %d월로 봄입니다!" %(month))
elif 6 <= month <= 8 :
    print("이번 달은 %d월로 여름입니다!" %(month))
elif 9 <= month <= 11 :
    print("이번 달은 %d월로 가을입니다!" %(month))
elif 12 <= month <= 2 :
    print("이번 달은 %d월로 겨울입니다!" %(month))
else :
    print("%d월은 없는 달입니다." %(month))

몇 월입니까?: 13
13월은 없는 달입니다.