<a href="https://colab.research.google.com/github/khybin/Python_class/blob/master/%EA%B9%80%ED%98%84%EB%B9%88_205_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
score = 100
print(score)
print(type(score))

100
<class 'int'>

In [ ]:
score = 'high'
print(score)
print(type(score))

high
<class 'str'>

In [ ]:
age = input('몇 살이세요? ')
age = int(age)
print(age + age)

몇 살이세요? 18
36

In [ ]:
price = input('가격을 입력하세요 : ')
num = input('개수를 입력하세요 : ')
sum = int(price) * int(num)
print('총액은', sum, '원입니다')

가격을 입력하세요 : 100
개수를 입력하세요 : 5
총액은 500 원입니다

In [ ]:
width = int(input('사각형의 가로: '))
height = int(input('사각형의 세로: '))
result = width * height
print('사각형의 면적은', result, '입니다.')

사각형의 가로: 5
사각형의 세로: 10
사각형의 면적은 50 입니다.

In [ ]:
name = input('이름? ')
year = int(input('태어난 해는? '))
age = 2023 - year + 1
print(name, ' 님의 나이는 ', age, '세 입니다.', sep = '')

이름? 현빈
태어난 해는? 2006
현빈 님의 나이는 18세 입니다.

In [ ]:
price = int(input('물건의 가격?: '))
num = int(input('물건의 개수?: '))
tol = int(input('지불한 돈?: '))
print('거스름돈은', tol - (price * num), '원입니다.')

물건의 가격?: 500
물건의 개수?: 4
지불한 돈?: 5000
거스름돈은 3000 원입니다.

In [ ]:
num = 123456789
print(num)
print(type(num))

123456789
<class 'int'>

In [ ]:
num = -20909
print(num)
print(type(num))

-20909
<class 'int'>

In [ ]:
a = 1.5
b = -3.5
print (a, b)
print(type(a), type(b))

1.5 -3.5
<class 'float'> <class 'float'>

In [ ]:
x = 3.3764
y = 6/2
print(x, y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [ ]:
a = 30
print(a)
print(type(a))

b = '30'
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [ ]:
print('I say "Hello" to you')

I say "Hello" to you

In [ ]:
a = 5
b = a == 5
print(b)

True

In [ ]:
if a == 5:
  print("a는 5")

a는 5

In [ ]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')
c = a + b
print(c)

첫 번째 숫자를 입력하세요: 1
두 번째 숫자를 입력하세요: 2
12

In [ ]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')
c = int(a) + int(b)
print(c)

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 20
30

In [ ]:
inch = float(input('인치를 입력하세요 : '))
cm = inch * 2.54
print('센치미터: ', cm, 'cm', sep = '')

인치를 입력하세요 : 3.5
센치미터: 8.89cm

In [ ]:
r = int(input('반지름은? : '))
print('반지름이 ', r, '인 원의 둘레는 ', 2 * 3.14 * r, ' 이고, 면적은 ', r * r * 3.14, ' 이다.', sep = '')

반지름은? : 5
반지름이 5인 원의 둘레는 31.400000000000002 이고, 면적은 78.5 이다.

In [ ]:
l = int(input('현재 키는? '))
al = int(input('5개월 후의 목표 키는? '))
print('한달에 ', (al - l) / 5.0, 'cm씩 성장해 보세요!')

현재 키는? 160
5개월 후의 목표 키는? 168
한달에  1.6 cm씩 성장해 보세요!

In [ ]:
book = int(input('책 값 : '))
discount = float(input('할인율(%) : '))
delivery = int(input('배송비 : '))
print('결제하실 금액은', book - book * (discount / 100) + delivery, '원 입니다.' )

책 값 : 3000
할인율(%) : 20
배송비 : 3000
결제하실 금액은 5400.0 원 입니다.

In [ ]:
sub1 = int(input('첫 번째 과목: '))
sub2 = int(input('두 번째 과목: '))
sum = sub1 + sub2
avg = sum / 2.0