In [ ]:
import random

sunny = random.choice([True, False])
time = random.randint(1, 24)

if 6 <= time < 12 :
    print("좋은 아침입니다. 지금 시각은 %d 시 입니다." %(time))
elif 12 <= time <= 18 :
    print("좋은 점심입니다. 지금 시각은 %d 시 입니다." %(time))
elif 18 < time < 24 :
    print("좋은 저녁입니다. 지금 시각은 %d 시 입니다." %(time))
else :
    print("좋은 새벽입니다. 지금 시각은 %d 시 입니다." %(time))

if sunny == True :
    print("현재 날씨가 화창합니다.")
    if 6 <= time <= 8 :
        print("종달새가 노래를 부르고 있습니다.")
    else :
        print("종달새가 노래를 하지 않습니다.")
else :
    print("현재 날씨가 화창하지 않습니다.")

좋은 저녁입니다. 지금 시각은 22 시 입니다.
현재 날씨가 화창합니다.
종달새가 노래를 하지 않습니다.

In [ ]:
x = 0
while x < 3 :
    print("안녕하세요.")
    x += 1

안녕하세요.
안녕하세요.
안녕하세요.

In [ ]:
student = 1
while student <= 3 :
    print(student, "번 학생의 성적을 처리한다.")
    student += 1

1 번 학생의 성적을 처리한다.
2 번 학생의 성적을 처리한다.
3 번 학생의 성적을 처리한다.

In [ ]:
dan = int(input("원하는 단은? "))

i = 1
while i <= 9 :
    print("%d * %d = %d" %(dan,i,dan*i))
    i += 1

원하는 단은? 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
num = 1
sum = 0
while num <= 10 :
    sum += num
    print("num의 값 : %d => 합계 : %d" %(num, sum))
    num += 1

num의 값 : 1 => 합계 : 1
num의 값 : 2 => 합계 : 3
num의 값 : 3 => 합계 : 6
num의 값 : 4 => 합계 : 10
num의 값 : 5 => 합계 : 15
num의 값 : 6 => 합계 : 21
num의 값 : 7 => 합계 : 28
num의 값 : 8 => 합계 : 36
num의 값 : 9 => 합계 : 45
num의 값 : 10 => 합계 : 55

In [ ]:
num = 150
sum = 0
while num <= 300 :
    if num % 2 != 0 :
        sum += num
    num += 1
print(sum)

16875

In [ ]:
f = -5

print("---------------")
print("섭씨   화씨")
print("---------------")

while f <= 5 :
    c = f * 9.0/5.0 + 32.0
    if f < 0 :
        print("  %d    %.1f" %(f, c))
    else :
        print("   %d    %.1f" %(f, c))
    f += 1

print("---------------")

---------------
섭씨   화씨
---------------
  -5    23.0
  -4    24.8
  -3    26.6
  -2    28.4
  -1    30.2
   0    32.0
   1    33.8
   2    35.6
   3    37.4
   4    39.2
   5    41.0
---------------

In [ ]:
n = 1
fac = 1

while n <= 10 :
    fac *= n
    n += 1
print("%d! = %d" %(n-1,fac))

10! = 3628800

In [ ]:
num = 1

while num <= 20 :
    if num % 2 == 0 :
        print(num, end = ' ')
    num += 1

2 4 6 8 10 12 14 16 18 20

In [ ]:
num = 10

while num <= 50 :
    if num % 3 != 0 :
        print(num, end = ' ')
    num += 1

10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50

In [ ]:
pw = ''
while pw != "python" :
    pw = input("암호 입력 :")
print("로그인 성공")

암호 입력 :java
암호 입력 :c
암호 입력 :python
로그인 성공

In [ ]:
answer = random.randint(1, 100)
guess = ''
cnt = 0
print("정답 : %d" %(answer))
print("1부터 100사이의 숫자를 맞추기")

while guess != answer :
    guess = int(input("숫자를 맞춰 보세요 : "))
    if guess < answer :
        print("낮음")
        cnt += 1
    elif guess > answer :
        print("높음")
        cnt += 1
print("축하합니다. 시도횟수 = %d" %(cnt+1))

정답 : 73
1부터 100사이의 숫자를 맞추기
숫자를 맞춰 보세요 : 73
축하합니다. 시도횟수 = 1

In [ ]:
for i in [1,2,3] :
    print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

In [ ]:
for i in range(10) :
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(1, 11) :
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(1, 10, 2) :
    print(i, end = " ")

1 3 5 7 9

In [ ]:
for i in range(20, 0, -2) :
    print(i, end = " ")

20 18 16 14 12 10 8 6 4 2

In [ ]:
for i in range(3) :
    print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

In [ ]:
a = 10
for num in range(1, 5, 2) :
    a += num
print(a)

14

In [ ]:
for student in range(1, 4) :
    print("%d 번째 학생의 성적 처리" %(student))

1 번째 학생의 성적 처리
2 번째 학생의 성적 처리
3 번째 학생의 성적 처리