In [ ]:
for i in [1,2,3] :
    print(i)

1
2
3

In [ ]:
for i in range(10) : # range(시작값, 끝값, 증가값)
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(1, 11) :
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(1, 10, 2) :
    print(i, end = ' ')

1 3 5 7 9

In [ ]:
for i in range(20, 0, -2) :
    print(i, end = ' ')

20 18 16 14 12 10 8 6 4 2

In [ ]:
for i in range(3) :
    print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

In [ ]:
a = 10
for num in range(1, 5, 2) :
    a += num
print(a)

14

In [ ]:
for i in range(1, 4, 1) :
    print(i, "번째 학생의 성적 처리")

1 번째 학생의 성적 처리
2 번째 학생의 성적 처리
3 번째 학생의 성적 처리

In [ ]:
for i in range(1, 21, 1) :
    if i % 2 == 0 :
        print(i, end = ' ')

2 4 6 8 10 12 14 16 18 20

In [ ]:
for i in range(1, 10, 1) :
    print("2 x %d = %d" %(i, i*2))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
sum = 0
for i in range(1, 11, 1) :
    sum += i
    print("i의 값 : %d  => 합계 : %d" %(i,sum))

i의 값 : 1  => 합계 : 1
i의 값 : 2  => 합계 : 3
i의 값 : 3  => 합계 : 6
i의 값 : 4  => 합계 : 10
i의 값 : 5  => 합계 : 15
i의 값 : 6  => 합계 : 21
i의 값 : 7  => 합계 : 28
i의 값 : 8  => 합계 : 36
i의 값 : 9  => 합계 : 45
i의 값 : 10  => 합계 : 55

In [ ]:
sum = 0
for i in range(2, 101, 1) :
    if i % 2 == 0 :
        sum += i
print("sum = %d" %(sum))

sum = 2550

In [ ]:
factorial = 1
for i in range(10, 0, -1) :
    factorial *= i
print("10! = %d" %(factorial))

10! = 3628800

In [ ]:
for i in range(1, 101, 1) :
    if i % 5 == 0 :
        print(i, end = ' ')
        if i % 7 == 0 :
            print()

5 10 15 20 25 30 35
40 45 50 55 60 65 70
75 80 85 90 95 100

In [ ]:
n = int(input("정수를 입력하시오 : "))
for i in range(1, n+1, 1) :
    if n % i == 0 :
        print(i, end = ' ')

정수를 입력하시오 : 6
1 2 3 6

In [ ]:
a = 0
b = 1
c = 0
for i in range(1, 21, 1) :
    print(a, end = ' ')
    c = a + b
    a = b
    b = c

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [ ]:
for i in range(1, 41, 1) :
    if i % 10 == 0 :
        print("+", end = '')
    else :
        print("-", end = '')

---------+---------+---------+---------+

In [ ]:
i = 1
while i <= 40 :
    if i % 10 == 0 :
        print("+", end = '')
    else :
        print("-", end = '')
    i += 1

---------+---------+---------+---------+

In [ ]:
for i in range(1, 41, 1) :
    if i % 5 == 0 and i % 2 != 0 :
        print("+", end = '')
    else :
        print("-", end = '')

----+---------+---------+---------+-----

In [ ]:
print("-----------------------------------------------------------")
print("센치(cm)\t인치(inch)\t피트(ft)\t야드(yd)")
print("-----------------------------------------------------------")
for cm in range(10, 101, 10) :
    inch = cm * 0.393701
    ft = cm * 0.032808
    yd = cm * 0.010936
    print("  %d\t\t  %.1f\t\t  %.1f\t\t  %.1f" %(cm, inch, ft, yd))

-----------------------------------------------------------
센치(cm)	인치(inch)	피트(ft)	야드(yd)
-----------------------------------------------------------
  10		  3.9		  0.3		  0.1
  20		  7.9		  0.7		  0.2
  30		  11.8		  1.0		  0.3
  40		  15.7		  1.3		  0.4
  50		  19.7		  1.6		  0.5
  60		  23.6		  2.0		  0.7
  70		  27.6		  2.3		  0.8
  80		  31.5		  2.6		  0.9
  90		  35.4		  3.0		  1.0
  100		  39.4		  3.3		  1.1

In [ ]:
for i in range(1, 1001) :
    print(i, end = ' ')
    if i == 10 :
        break

1 2 3 4 5 6 7 8 9 10

In [ ]:
score = {92, 86, 68, 120, 56, 72}
for s in score :
    if s < 0 or s > 100 :
        continue
    print(s)
print("성적 처리 끝")

68
86
72
56
92
성적 처리 끝

In [ ]:
print("3+4?")
while True :
    n = int(input("정답을 입력하세요. : "))
    if n == 7 :
        break
print("참 잘했어요")

3+4?
정답을 입력하세요. : 6
정답을 입력하세요. : 8
정답을 입력하세요. : 7
참 잘했어요